In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/netflow/CIDDS-001/traffic/mixed.csv', index_col='DATE')
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,CLASS,ATTACK_TYPE,ATTACK_ID,ATTACK_DESCRIPTION,TYPE
DATE,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,60802,EXT_SERVER,8082,20751,5939.2,.AP...,0,normal,benign,0.0,benign,internal

In [3]:
df.drop(['FLAGS', 'CLASS', 'ATTACK_ID', 'ATTACK_DESCRIPTION'], axis=1, inplace=True)
# df = df.sample(frac=1).iloc[:1000]
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,TOS,ATTACK_TYPE,TYPE
DATE,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,0,benign,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,0,benign,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,60802,EXT_SERVER,8082,20751,5939.2,0,benign,internal

In [4]:
df['ATTACK_TYPE'].value_counts(normalize=True) * 100

benign        84.229777
dos           14.647460
portScan       1.028429
bruteForce     0.070899
pingScan       0.023436
Name: ATTACK_TYPE, dtype: float64

In [6]:
attacks_df = df.loc[df['ATTACK_TYPE'].isin(['dos', 'portScan', 'bruteForce', 'pingScan'])]

In [16]:
len(attacks_df['SRC_IP_ADDR'].unique())

25

In [15]:
attacks_df['SRC_IP_ADDR'].unique()

array(['192.168.220.15', '192.168.210.3', '192.168.220.1',
       '192.168.210.4', '192.168.210.5', '192.168.210.1', '192.168.210.2',
       '192.168.100.6', 'ATTACKER1', 'EXT_SERVER', '192.168.220.2',
       '192.168.100.3', '192.168.100.2', '192.168.100.1', '192.168.100.5',
       '192.168.100.4', '192.168.200.3', '192.168.200.4', '192.168.200.8',
       '192.168.200.9', '192.168.200.1', '192.168.200.5', '192.168.200.2',
       'ATTACKER2', 'ATTACKER3'], dtype=object)

In [14]:
len(df['SRC_IP_ADDR'].unique())

43442

In [9]:
attacks_df['SRC_IP_ADDR'].isin(df['DST_IP_ADDR']).value_counts(normalize=True) * 100

True    100.0
Name: SRC_IP_ADDR, dtype: float64

In [10]:
attacks_df['SRC_IP_ADDR'].isin(df['SRC_IP_ADDR']).value_counts(normalize=True) * 100

True    100.0
Name: SRC_IP_ADDR, dtype: float64

Not conclusive.