In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/netflow/CIDDS-001/traffic/mixed.csv', index_col='DATE')
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,CLASS,ATTACK_TYPE,ATTACK_ID,ATTACK_DESCRIPTION,TYPE
DATE,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,60802,EXT_SERVER,8082,20751,5939.2,.AP...,0,normal,benign,0.0,benign,internal

In [3]:
df.drop(['CLASS', 'ATTACK_ID', 'ATTACK_DESCRIPTION'], axis=1, inplace=True)

In [4]:
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,ATTACK_TYPE,TYPE
DATE,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,.AP...,0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,.AP...,0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,.AP...,0,benign,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,.AP...,0,benign,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,60802,EXT_SERVER,8082,20751,5939.2,.AP...,0,benign,internal

In [5]:
# import plotly.express as px

# for col in ['PROTOCOL', 'FLAGS', 'TOS', 'ATTACK_TYPE']:
    
#     fig = px.histogram(df[col], histnorm='probability density')
#     fig.show()

In [6]:
df['SRC_PORT'].value_counts(normalize=True) * 100

80       20.743846
443      16.007943
53        5.273961
22        2.927759
445       1.367211
           ...
22380     0.000017
2412      0.000017
10600     0.000017
26976     0.000017
5823      0.000017
Name: SRC_PORT, Length: 61700, dtype: float64

In [7]:
from sklearn.preprocessing import LabelEncoder

def preprocess_port_feature(series_to_encode, vals_to_encode=[80, 53, 443, 3389, 445, 21, 8080, 22, 53]):
    lb_e = LabelEncoder()
    series_to_encode = series_to_encode.where(series_to_encode.isin(vals_to_encode))
    series_to_encode = lb_e.fit_transform(series_to_encode)
    return series_to_encode

In [8]:
df['SRC_PORT'] = preprocess_port_feature(df['SRC_PORT'])
df['DST_PORT'] = preprocess_port_feature(df['DST_PORT'])

In [9]:
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,ATTACK_TYPE,TYPE
DATE,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8,OPENSTACK_NET,8,8639,9318.4,.AP...,0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,8,EXT_SERVER,8,12024,10547.2,.AP...,0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,8,EXT_SERVER,8,12024,10547.2,.AP...,0,benign,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8,OPENSTACK_NET,8,8639,9318.4,.AP...,0,benign,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,8,EXT_SERVER,8,20751,5939.2,.AP...,0,benign,internal

In [10]:
df['SRC_PORT'].value_counts(normalize=True) * 100

8    53.650636
3    20.743846
4    16.007943
2     5.273961
1     2.927759
5     1.367211
6     0.016708
7     0.008693
0     0.003244
Name: SRC_PORT, dtype: float64

In [11]:
df['FLAGS'].value_counts(normalize=True) * 100

.A....    25.782893
.AP.SF    16.017897
......    11.943305
.AP...    11.664584
.AP.S.     8.673606
.A..SF     7.452201
.A...F     6.775778
.A..S.     3.408484
.AP..F     2.772342
....S.     1.735667
.A.R..     1.265582
.APRSF     0.797746
...R..     0.477722
  0xdb     0.370233
.APR.F     0.343545
...RS.     0.217022
.APRS.     0.108228
.A.R.F     0.092584
.APR..     0.059760
.A.RSF     0.016802
.A.RS.     0.015129
  0xc2     0.005835
  0xd7     0.001236
  0xd6     0.000532
  0xda     0.000498
  0xdf     0.000498
  0x52     0.000086
  0xd3     0.000051
  0x5a     0.000034
  0xd2     0.000034
  0x5b     0.000034
  0x53     0.000017
  0xde     0.000017
  0xc6     0.000017
Name: FLAGS, dtype: float64

In [12]:
flags_cols = ['FLAG_A', 
    'FLAG_P',
    'FLAG_R',
    'FLAG_S',
    'FLAG_F',
    'FLAG_0xdb',
    'FLAG_0xc2',
    'FLAG_0xd7',
    'FLAG_0xd6',
    'FLAG_0xdf',
    'FLAG_0xda',
    'FLAG_0x52',
    'FLAG_0xd3',
    'FLAG_0x5b',
    'FLAG_0x5a',
    'FLAG_0xd2',
    'FLAG_0xde',
    'FLAG_0x53',
    'FLAG_0xc6']

In [13]:
import numpy as np

In [14]:
def preprocess_flags_feature(df):
    
    def apply_custom_one_hot_encoding(flag_val):
        r, flags_map = {
            'FLAG_A': 0,
            'FLAG_P': 0,
            'FLAG_R': 0,
            'FLAG_S': 0,
            'FLAG_F': 0,
            'FLAG_0xdb': 0,
            'FLAG_0xc2': 0, 
            'FLAG_0xd7': 0,
            'FLAG_0xd6': 0,
            'FLAG_0xdf': 0,
            'FLAG_0xda': 0,
            'FLAG_0x52': 0,
            'FLAG_0xd3': 0,
            'FLAG_0x5b': 0,
            'FLAG_0x5a': 0,
            'FLAG_0xd2': 0,
            'FLAG_0xde': 0,
            'FLAG_0x53': 0,
            'FLAG_0xc6': 0
        }, {
            '.A....': ['FLAG_A'], 
            '.AP.SF': ['FLAG_A', 'FLAG_P', 'FLAG_S', 'FLAG_F'], 
            '.AP...': ['FLAG_A', 'FLAG_P'], 
            '.AP.S.': ['FLAG_A', 'FLAG_P', 'FLAG_S'], 
            '.A..SF': ['FLAG_A', 'FLAG_S', 'FLAG_F'],
            '.A...F': ['FLAG_A', 'FLAG_F'],
            '.A..S.': ['FLAG_A', 'FLAG_P', 'FLAG_F'],
            '.AP..F': ['FLAG_A', 'FLAG_P', 'FLAG_F'],
            '....S.': ['FLAG_S'], 
            '.A.R..': ['FLAG_A', 'FLAG_R'],
            '.APRSF': ['FLAG_A', 'FLAG_P', 'FLAG_R', 'FLAG_S', 'FLAG_F'], 
            '...R..': ['FLAG_R'],
            '.APR.F': ['FLAG_A', 'FLAG_P', 'FLAG_R' 'FLAG_F'],
            '...RS.': ['FLAG_R', 'FLAG_S'],
            '.APRS.': ['FLAG_A', 'FLAG_P', 'FLAG_R' 'FLAG_S'],
            '.A.R.F': ['FLAG_A', 'FLAG_R' 'FLAG_F'],
            '.APR..': ['FLAG_A', 'FLAG_P', 'FLAG_R'],
            '.A.RSF': ['FLAG_A', 'FLAG_R', 'FLAG_S' 'FLAG_F'],
            '.A.RS.': ['FLAG_A', 'FLAG_R', 'FLAG_S'],
            '  0xdb': ['FLAG_0xdb'],
            '  0xc2': ['FLAG_0xc2'],
            '  0xd7': ['FLAG_0xd7'], 
            '  0xd6': ['FLAG_0xd6'], 
            '  0xdf': ['FLAG_0xdf'], 
            '  0xda': ['FLAG_0xda'], 
            '  0x52': ['FLAG_0x52'], 
            '  0xd3': ['FLAG_0xd3'],
            '  0x5b': ['FLAG_0x5b'], 
            '  0x5a': ['FLAG_0x5a'], 
            '  0xd2': ['FLAG_0xd2'], 
            '  0xde': ['FLAG_0xde'], 
            '  0x53': ['FLAG_0x53'], 
            '  0xc6': ['FLAG_0xc6']
        }

        features = flags_map.get(flag_val.rstrip())
        if features:
            for f in features:
                r[f] = 1
        return r
    
    return pd.DataFrame([apply_custom_one_hot_encoding(row['FLAGS']) for _, row in df.iterrows()])

In [15]:
flags_df = preprocess_flags_feature(df)
flags_df.index = df.index

In [16]:
flags_df.columns

Index(['FLAG_A', 'FLAG_P', 'FLAG_R', 'FLAG_S', 'FLAG_F', 'FLAG_0xdb',
       'FLAG_0xc2', 'FLAG_0xd7', 'FLAG_0xd6', 'FLAG_0xdf', 'FLAG_0xda',
       'FLAG_0x52', 'FLAG_0xd3', 'FLAG_0x5b', 'FLAG_0x5a', 'FLAG_0xd2',
       'FLAG_0xde', 'FLAG_0x53', 'FLAG_0xc6', 'FLAG_RFLAG_S', 'FLAG_SFLAG_F',
       'FLAG_RFLAG_F'],
      dtype='object')

In [17]:
flags_df.head()

,FLAG_A,FLAG_P,FLAG_R,FLAG_S,FLAG_F,FLAG_0xdb,FLAG_0xc2,FLAG_0xd7,FLAG_0xd6,FLAG_0xdf,...,FLAG_0xd3,FLAG_0x5b,FLAG_0x5a,FLAG_0xd2,FLAG_0xde,FLAG_0x53,FLAG_0xc6,FLAG_RFLAG_S,FLAG_SFLAG_F,FLAG_RFLAG_F
DATE,,,,,,,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2017-03-14 17:43:26.135,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2017-03-14 17:43:26.135,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2017-03-14 17:43:26.135,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2017-03-14 17:43:39.011,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [18]:
df = pd.concat([df, flags_df], axis=1)

In [19]:
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,...,FLAG_0xd3,FLAG_0x5b,FLAG_0x5a,FLAG_0xd2,FLAG_0xde,FLAG_0x53,FLAG_0xc6,FLAG_RFLAG_S,FLAG_SFLAG_F,FLAG_RFLAG_F
DATE,,,,,,,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8,OPENSTACK_NET,8,8639,9318.4,.AP...,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,8,EXT_SERVER,8,12024,10547.2,.AP...,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,8,EXT_SERVER,8,12024,10547.2,.AP...,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8,OPENSTACK_NET,8,8639,9318.4,.AP...,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,8,EXT_SERVER,8,20751,5939.2,.AP...,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [37]:
df.drop(['FLAGS, FLAG_RFLAG_S', 'FLAG_SFLAG_F', 'FLAG_RFLAG_F'], axis=1, inplace=True, errors='ignore')

In [38]:
df.columns

Index(['DURATION', 'PROTOCOL', 'SRC_IP_ADDR', 'SRC_PORT', 'DST_IP_ADDR',
       'DST_PORT', 'PACKETS', 'BYTES', 'FLAGS', 'TOS', 'ATTACK_TYPE', 'TYPE',
       'FLAG_A', 'FLAG_P', 'FLAG_R', 'FLAG_S', 'FLAG_F', 'FLAG_0xdb',
       'FLAG_0xc2', 'FLAG_0xd7', 'FLAG_0xd6', 'FLAG_0xdf', 'FLAG_0xda',
       'FLAG_0x52', 'FLAG_0xd3', 'FLAG_0x5b', 'FLAG_0x5a', 'FLAG_0xd2',
       'FLAG_0xde', 'FLAG_0x53', 'FLAG_0xc6'],
      dtype='object')

In [25]:
for flag in flags_cols:
    print(df[flag].value_counts(normalize=True) * 100)

1    85.247161
0    14.752839
Name: FLAG_A, dtype: float64
0    56.153808
1    43.846192
Name: FLAG_P, dtype: float64
0    97.150237
1     2.849763
Name: FLAG_R, dtype: float64
0    65.090732
1    34.909268
Name: FLAG_S, dtype: float64
0    62.775552
1    37.224448
Name: FLAG_F, dtype: float64
0    99.629767
1     0.370233
Name: FLAG_0xdb, dtype: float64
0    99.994165
1     0.005835
Name: FLAG_0xc2, dtype: float64
0    99.998764
1     0.001236
Name: FLAG_0xd7, dtype: float64
0    99.999468
1     0.000532
Name: FLAG_0xd6, dtype: float64
0    99.999502
1     0.000498
Name: FLAG_0xdf, dtype: float64
0    99.999502
1     0.000498
Name: FLAG_0xda, dtype: float64
0    99.999914
1     0.000086
Name: FLAG_0x52, dtype: float64
0    99.999949
1     0.000051
Name: FLAG_0xd3, dtype: float64
0    99.999966
1     0.000034
Name: FLAG_0x5b, dtype: float64
0    99.999966
1     0.000034
Name: FLAG_0x5a, dtype: float64
0    99.999966
1     0.000034
Name: FLAG_0xd2, dtype: float64
0    99.999983
1     0.000017
Name: FLAG_0xde, dtype: float64
0    99.999983
1     0.000017
Name: FLAG_0x53, dtype: float64
0    99.999983
1     0.000017
Name: FLAG_0xc6, dtype: float64

In [26]:
FEATURE_TO_LABELENCODE = ['PROTOCOL', 'TYPE', 'SRC_IP_ADDR', 'DST_IP_ADDR', 'TOS', 'ATTACK_TYPE']

In [27]:
def label_encode(series_to_encode):
    lb_e = LabelEncoder()
    series_to_encode = lb_e.fit_transform(series_to_encode)
    return series_to_encode

In [28]:
for f in FEATURE_TO_LABELENCODE:
    print("Processing feature {}".format(f))
    df[f] = label_encode(df[f])

Processing feature PROTOCOL
Processing feature TYPE
Processing feature SRC_IP_ADDR
Processing feature DST_IP_ADDR
Processing feature TOS
Processing feature ATTACK_TYPE

In [41]:
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,TOS,ATTACK_TYPE,...,FLAG_0xdf,FLAG_0xda,FLAG_0x52,FLAG_0xd3,FLAG_0x5b,FLAG_0x5a,FLAG_0xd2,FLAG_0xde,FLAG_0x53,FLAG_0xc6
DATE,,,,,,,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,3,43440,8,44022,8,8639,9318.4,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-14 17:43:26.135,81504.787,3,43441,8,44021,8,12024,10547.2,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-14 17:43:26.135,81504.787,3,43441,8,44021,8,12024,10547.2,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-14 17:43:26.135,81504.787,3,43440,8,44022,8,8639,9318.4,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-14 17:43:39.011,183418.493,3,43441,8,44021,8,20751,5939.2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df['ATTACK_TYPE'].value_counts(normalize=True) * 100

0    84.229777
2    14.647460
4     1.028429
1     0.070899
3     0.023436
Name: ATTACK_TYPE, dtype: float64

In [42]:
df.to_csv('preprocessed.csv')