In [ ]:
import pandas as pd

In [ ]:
data_dir = 'data/netflow'

In [ ]:
external_week1 = pd.read_csv('{}/CIDDS-001/traffic/ExternalServer/CIDDS-001-external-week1.csv'.format(data_dir))

In [ ]:
external_week1

In [ ]:
external_week1.columns

In [ ]:
external_week2 = pd.read_csv('{}/CIDDS-001/traffic/ExternalServer/CIDDS-001-external-week2.csv'.format(data_dir))

In [ ]:
external_week2

In [ ]:
csv_files = ['CIDDS-001-external-week1.csv', 'CIDDS-001-external-week2.csv', 'CIDDS-001-external-week3.csv', 'CIDDS-001-external-week4.csv']

In [ ]:
external_weeks = pd.DataFrame({})

for file in csv_files:
    external_weeks = pd.concat([external_weeks, pd.read_csv('{}/CIDDS-001/traffic/ExternalServer/{}'.format(data_dir, file))])

In [ ]:
labels_dist_by_dataset, tot_mem = {}, 0

for csv in csv_files:

    print('Loading', csv)
    tmp_df = pd.read_csv('{}/CIDDS-001/traffic/ExternalServer/{}'.format(data_dir, csv))
    tmp_dist = (tmp_df['attackType'].value_counts(normalize=True) * 100).to_dict()
    tmp_mem = tmp_df.memory_usage(index=True).sum()
    tot_mem += tmp_mem
    tmp_dist['memory_usage'] = tmp_mem
    print(tmp_dist)
    labels_dist_by_dataset[csv] = tmp_dist

In [ ]:
for d in labels_dist_by_dataset:
    labels_dist_by_dataset[d]['memory_usage'] = round((labels_dist_by_dataset[d]['memory_usage'] / tot_mem) * 100, 3)

In [ ]:
labels_dist_by_dataset

In [ ]:
external_weeks

In [ ]:
external_weeks.head()

In [ ]:
for col in external_weeks.columns:
    print('{}: {}'.format(col, external_weeks[col].dtype))

Features engineering on IP addresses:

        - local/public
        
        - class (false IPs)
        
        - mask
        
        - opt : evil ip check / false ip

In [ ]:
external_weeks[['Src IP Addr', 'Dst IP Addr']]

In [ ]:
openstack1 = pd.read_csv('{}/CIDDS-001/traffic/OpenStack/CIDDS-001-internal-week1.csv'.format(data_dir))

In [ ]:
openstack1.head()

In [ ]:
external_weeks.head()

In [ ]:
external_weeks.columns == openstack1.columns

In [ ]:
external_weeks['attackType'].value_counts(normalize=True) * 100

In [ ]:
openstack1['attackType'].value_counts(normalize=True) * 100

In [ ]:
csv_files = ['CIDDS-001-internal-week1.csv', 'CIDDS-001-internal-week2.csv', 'CIDDS-001-internal-week3.csv', 'CIDDS-001-internal-week4.csv']

In [ ]:
labels_dist_by_dataset, tot_mem = {}, 0

for csv in csv_files:

    print('Loading', csv)
    tmp_df = pd.read_csv('{}/CIDDS-001/traffic/OpenStack/{}'.format(data_dir, csv))
    tmp_dist = (tmp_df['attackType'].value_counts(normalize=True) * 100).to_dict()
    tmp_mem = tmp_df.memory_usage(index=True).sum()
    tot_mem += tmp_mem
    tmp_dist['memory_usage'] = tmp_mem
    print(tmp_dist)
    labels_dist_by_dataset[csv] = tmp_dist

In [ ]:
csv_files = ['CIDDS-001-internal-week1.csv', 'CIDDS-001-internal-week2.csv']

In [ ]:
internal_weeks = pd.DataFrame({})

for file in csv_files:
    internal_weeks = pd.concat([external_weeks, pd.read_csv('{}/CIDDS-001/traffic/OpenStack/{}'.format(data_dir, file))])

In [ ]:
internal_weeks

In [ ]:
internal_weeks['attackType'].value_counts(normalize=True) * 100

In [ ]:
internal_weeks.columns = [col.upper().replace(' ', '_') for col in internal_weeks.columns]

In [ ]:
internal_weeks.rename(columns={
    'PROTO': 'PROTOCOL'
},
                     inplace=True)

In [ ]:
for col in internal_weeks.columns:
    print('{}: {}'.format(col, internal_weeks[col].dtype))

In [ ]:
external_weeks.columns = [col.upper().replace(' ', '_') for col in external_weeks.columns]
external_weeks.rename(columns={'PROTO': 'PROTOCOL'}, inplace=True)

In [ ]:
external_weeks['ATTACKTYPE'].value_counts(normalize=True) * 100

In [ ]:
external_weeks['TYPE'] = "external"
internal_weeks['TYPE'] = "internal"

In [ ]:
external_weeks.columns == internal_weeks.columns

In [ ]:
external_weeks.dtypes == internal_weeks.dtypes

In [ ]:
df = pd.concat([external_weeks, internal_weeks])

In [ ]:
df.to_csv('{}/CIDDS-001/traffic/mixed.csv'.format(data_dir))

In [1]:
import pandas as pd

data_dir = 'data/netflow'

df = pd.read_csv('{}/CIDDS-001/traffic/mixed.csv'.format(data_dir))

C:\Users\Driss\miniconda3\envs\ids-ml\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.isna().sum()

Unnamed: 0           0
DATE_FIRST_SEEN      0
DURATION             0
PROTOCOL             0
SRC_IP_ADDR          0
SRC_PT               0
DST_IP_ADDR          0
DST_PT               0
PACKETS              0
BYTES                0
FLOWS                0
FLAGS                0
TOS                  0
CLASS                0
ATTACKTYPE           0
ATTACKID             0
ATTACKDESCRIPTION    0
TYPE                 0
dtype: int64

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,DATE_FIRST_SEEN,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PT,DST_IP_ADDR,DST_PT,PACKETS,BYTES,FLOWS,FLAGS,TOS,CLASS,ATTACKTYPE,ATTACKID,ATTACKDESCRIPTION,TYPE
0,2017-03-14 17:43:57.172,81412.697,TCP,EXT_SERVER,8082,OPENSTACK_NET,56978.0,3057,2.1 M,1,.AP...,0,normal,---,---,---,external
1,2017-03-14 17:43:57.172,81412.697,TCP,OPENSTACK_NET,56978,EXT_SERVER,8082.0,4748,2.5 M,1,.AP...,0,normal,---,---,---,external
2,2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979.0,8639,9.1 M,1,.AP...,0,normal,---,---,---,external
3,2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082.0,12024,10.3 M,1,.AP...,0,normal,---,---,---,external
4,2017-03-14 18:17:09.005,82100.692,TCP,EXT_SERVER,8082,OPENSTACK_NET,51649.0,11012,27.2 M,1,.AP.S.,0,normal,---,---,---,external

In [4]:
df['DATE_FIRST_SEEN'] = pd.to_datetime(df['DATE_FIRST_SEEN'])
df.rename(columns={'DATE_FIRST_SEEN': 'DATE'}, inplace=True)

In [5]:
df.set_index('DATE', inplace=True)

In [6]:
df.sort_index(inplace=True)

In [7]:
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PT,DST_IP_ADDR,DST_PT,PACKETS,BYTES,FLOWS,FLAGS,TOS,CLASS,ATTACKTYPE,ATTACKID,ATTACKDESCRIPTION,TYPE
DATE,,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979.0,8639,9.1 M,1,.AP...,0,normal,---,---,---,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082.0,12024,10.3 M,1,.AP...,0,normal,---,---,---,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082.0,12024,10.3 M,1,.AP...,0,normal,---,---,---,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979.0,8639,9.1 M,1,.AP...,0,normal,---,---,---,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,60802,EXT_SERVER,8082.0,20751,5.8 M,1,.AP...,0,normal,---,---,---,internal

In [8]:
df['ATTACKTYPE'].value_counts(normalize=True) * 100

---           84.229777
dos           14.647460
portScan       1.028429
bruteForce     0.070899
pingScan       0.023436
Name: ATTACKTYPE, dtype: float64

In [9]:
df['ATTACKTYPE'] = df['ATTACKTYPE'].map({'---': 'benign'}).fillna(df['ATTACKTYPE'])

In [10]:
df['ATTACKTYPE'].value_counts(normalize=True) * 100

benign        84.229777
dos           14.647460
portScan       1.028429
bruteForce     0.070899
pingScan       0.023436
Name: ATTACKTYPE, dtype: float64

In [11]:
df['ATTACKID'].value_counts(normalize=True) * 100

---    84.229777
53      4.430528
60      2.862961
44      2.241176
45      1.930454
63      1.275536
46      0.958705
59      0.948099
49      0.151280
48      0.116706
67      0.115213
47      0.115161
7       0.110013
51      0.102701
68      0.048330
50      0.039380
1       0.034463
16      0.034360
2       0.034360
10      0.034171
15      0.034051
12      0.023513
43      0.018390
19      0.016339
55      0.006496
61      0.006050
52      0.005209
62      0.004926
57      0.004479
58      0.004376
64      0.004119
56      0.003664
17      0.003433
3       0.003433
11      0.003433
18      0.003433
5       0.003433
9       0.003433
13      0.003433
4       0.003433
14      0.003433
20      0.003433
8       0.003433
65      0.003201
69      0.003089
66      0.003081
6       0.002883
70      0.002060
54      0.001570
22      0.000687
21      0.000687
Name: ATTACKID, dtype: float64

In [12]:
df['ATTACKID'] = df['ATTACKID'].map({'---': 0}).fillna(df['ATTACKID'])

In [13]:
df['ATTACKID'].value_counts(normalize=True) * 100

0.0    84.229777
53      4.430528
60      2.862961
44      2.241176
45      1.930454
63      1.275536
46      0.958705
59      0.948099
49      0.151280
48      0.116706
67      0.115213
47      0.115161
7       0.110013
51      0.102701
68      0.048330
50      0.039380
1       0.034463
16      0.034360
2       0.034360
10      0.034171
15      0.034051
12      0.023513
43      0.018390
19      0.016339
55      0.006496
61      0.006050
52      0.005209
62      0.004926
57      0.004479
58      0.004376
64      0.004119
56      0.003664
17      0.003433
3       0.003433
11      0.003433
18      0.003433
5       0.003433
9       0.003433
13      0.003433
4       0.003433
14      0.003433
20      0.003433
8       0.003433
65      0.003201
69      0.003089
66      0.003081
6       0.002883
70      0.002060
54      0.001570
22      0.000687
21      0.000687
Name: ATTACKID, dtype: float64

In [14]:
df['ATTACKDESCRIPTION'].value_counts(normalize=True) * 100

---                                      84.311780
10000 connections on 192.168.100.6:80    14.647460
nmap args: -sS -T 2                       0.568710
nmap args: -sS -T 1                       0.181933
nmap args: -sS -T 3                       0.151280
nmap args: -sU -T 2                       0.057684
100 passwords                             0.027460
192.168.210.4                             0.015541
nmap args: -n -sP -PE -T 1                0.012778
nmap args: -n -sP -PE -T 2                0.010658
192.168.210.5                             0.006050
192.168.210.3                             0.003664
192.168.100.2                             0.002060
192.168.210.2                             0.001570
20 passwords                              0.001373
Name: ATTACKDESCRIPTION, dtype: float64

In [15]:
df['ATTACKDESCRIPTION'] = df['ATTACKDESCRIPTION'].map({'---': 'benign'}).fillna(df['ATTACKDESCRIPTION'])

In [16]:
df['ATTACKDESCRIPTION'].value_counts(normalize=True) * 100

benign                                   84.311780
10000 connections on 192.168.100.6:80    14.647460
nmap args: -sS -T 2                       0.568710
nmap args: -sS -T 1                       0.181933
nmap args: -sS -T 3                       0.151280
nmap args: -sU -T 2                       0.057684
100 passwords                             0.027460
192.168.210.4                             0.015541
nmap args: -n -sP -PE -T 1                0.012778
nmap args: -n -sP -PE -T 2                0.010658
192.168.210.5                             0.006050
192.168.210.3                             0.003664
192.168.100.2                             0.002060
192.168.210.2                             0.001570
20 passwords                              0.001373
Name: ATTACKDESCRIPTION, dtype: float64

In [17]:
df.head(3)

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PT,DST_IP_ADDR,DST_PT,PACKETS,BYTES,FLOWS,FLAGS,TOS,CLASS,ATTACKTYPE,ATTACKID,ATTACKDESCRIPTION,TYPE
DATE,,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979.0,8639,9.1 M,1,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082.0,12024,10.3 M,1,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082.0,12024,10.3 M,1,.AP...,0,normal,benign,0.0,benign,internal

In [18]:
df.rename(columns={
    'SRC_PT': 'SRC_PORT', 
    'DST_PT': 'DST_PORT', 
    'ATTACKTYPE': 'ATTACK_TYPE',
    'ATTACKID': 'ATTACK_ID',
    'ATTACKDESCRIPTION': 'ATTACK_DESCRIPTION',
}, inplace=True)

In [19]:
df = df.astype({'SRC_PORT': 'int32', 'DST_PORT': 'int32'})

In [20]:
for col in df.columns:
    print("{}: {}".format(col, df[col].dtype))

DURATION: float64
PROTOCOL: object
SRC_IP_ADDR: object
SRC_PORT: int32
DST_IP_ADDR: object
DST_PORT: int32
PACKETS: int64
BYTES: object
FLOWS: int64
FLAGS: object
TOS: int64
CLASS: object
ATTACK_TYPE: object
ATTACK_ID: object
ATTACK_DESCRIPTION: object
TYPE: object

In [21]:
df['BYTES']

DATE
2017-03-14 17:43:26.135       9.1 M
2017-03-14 17:43:26.135      10.3 M
2017-03-14 17:43:26.135      10.3 M
2017-03-14 17:43:26.135       9.1 M
2017-03-14 17:43:39.011       5.8 M
                             ...
2017-04-18 23:59:50.947         180
2017-04-18 23:59:55.951        3493
2017-04-18 23:59:55.951        2267
2017-04-18 23:59:55.951        3493
2017-04-18 23:59:55.951        2267
Name: BYTES, Length: 11653215, dtype: object

In [22]:
df['CLASS']

DATE
2017-03-14 17:43:26.135        normal
2017-03-14 17:43:26.135        normal
2017-03-14 17:43:26.135        normal
2017-03-14 17:43:26.135        normal
2017-03-14 17:43:39.011        normal
                              ...
2017-04-18 23:59:50.947    suspicious
2017-04-18 23:59:55.951    suspicious
2017-04-18 23:59:55.951    suspicious
2017-04-18 23:59:55.951    suspicious
2017-04-18 23:59:55.951    suspicious
Name: CLASS, Length: 11653215, dtype: object

In [23]:
df['FLOWS'].value_counts(normalize=True) * 100

1    100.0
Name: FLOWS, dtype: float64

In [24]:
df.drop('FLOWS', axis=1, inplace=True)

In [25]:
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,CLASS,ATTACK_TYPE,ATTACK_ID,ATTACK_DESCRIPTION,TYPE
DATE,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9.1 M,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10.3 M,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10.3 M,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9.1 M,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,60802,EXT_SERVER,8082,20751,5.8 M,.AP...,0,normal,benign,0.0,benign,internal

In [26]:
df['TOS'].value_counts(normalize=True) * 100

0      75.444107
32     24.522048
192     0.024483
16      0.009362
Name: TOS, dtype: float64

In [27]:
df = df.astype({'TOS': 'int32'})

In [28]:
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,CLASS,ATTACK_TYPE,ATTACK_ID,ATTACK_DESCRIPTION,TYPE
DATE,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9.1 M,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10.3 M,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10.3 M,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9.1 M,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,60802,EXT_SERVER,8082,20751,5.8 M,.AP...,0,normal,benign,0.0,benign,internal

In [29]:
df['FLAGS'].value_counts(normalize=True) * 100

.A....    25.782893
.AP.SF    16.017897
......    11.943305
.AP...    11.664584
.AP.S.     8.673606
.A..SF     7.452201
.A...F     6.775778
.A..S.     3.408484
.AP..F     2.772342
....S.     1.735667
.A.R..     1.265582
.APRSF     0.797746
...R..     0.477722
  0xdb     0.370233
.APR.F     0.343545
...RS.     0.217022
.APRS.     0.108228
.A.R.F     0.092584
.APR..     0.059760
.A.RSF     0.016802
.A.RS.     0.015129
  0xc2     0.005835
  0xd7     0.001236
  0xd6     0.000532
  0xdf     0.000498
  0xda     0.000498
  0x52     0.000086
  0xd3     0.000051
  0xd2     0.000034
  0x5a     0.000034
  0x5b     0.000034
  0xde     0.000017
  0xc6     0.000017
  0x53     0.000017
Name: FLAGS, dtype: float64

In [30]:
for col in df.columns:
    print("{}: {}".format(col, df[col].dtype))

DURATION: float64
PROTOCOL: object
SRC_IP_ADDR: object
SRC_PORT: int32
DST_IP_ADDR: object
DST_PORT: int32
PACKETS: int64
BYTES: object
FLAGS: object
TOS: int32
CLASS: object
ATTACK_TYPE: object
ATTACK_ID: object
ATTACK_DESCRIPTION: object
TYPE: object

In [31]:
df.head(3)

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,CLASS,ATTACK_TYPE,ATTACK_ID,ATTACK_DESCRIPTION,TYPE
DATE,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9.1 M,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10.3 M,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10.3 M,.AP...,0,normal,benign,0.0,benign,internal

In [32]:
import re

def format_bytes(val):
    r = re.compile("\ M$")  
    if r.search(str(val)):
        return 1024 * float(re.findall('\d+\.\d+', val)[0])
    else:
        return float(val)

In [33]:
df['BYTES'] = df['BYTES'].apply(lambda x: format_bytes(x))

In [34]:
df.head()

,DURATION,PROTOCOL,SRC_IP_ADDR,SRC_PORT,DST_IP_ADDR,DST_PORT,PACKETS,BYTES,FLAGS,TOS,CLASS,ATTACK_TYPE,ATTACK_ID,ATTACK_DESCRIPTION,TYPE
DATE,,,,,,,,,,,,,,,
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,.AP...,0,normal,benign,0.0,benign,external
2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082,12024,10547.2,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979,8639,9318.4,.AP...,0,normal,benign,0.0,benign,internal
2017-03-14 17:43:39.011,183418.493,TCP,OPENSTACK_NET,60802,EXT_SERVER,8082,20751,5939.2,.AP...,0,normal,benign,0.0,benign,internal

In [35]:
df['BYTES'].dtype

dtype('float64')

In [36]:
df['SRC_IP_ADDR'].value_counts(normalize=True) * 100

192.168.220.15    16.548815
192.168.100.6      7.365839
EXT_SERVER         6.268785
DNS                5.265139
192.168.200.8      3.194955
                    ...
16082_145          0.000009
12347_4            0.000009
13053_42           0.000009
13304_90           0.000009
13913_40           0.000009
Name: SRC_IP_ADDR, Length: 43442, dtype: float64

In [37]:
df['DST_IP_ADDR'].value_counts(normalize=True) * 100

192.168.220.15     16.296644
192.168.100.6       7.380023
EXT_SERVER          6.363617
DNS                 5.257965
192.168.200.8       3.154340
                     ...
192.168.200.141     0.000009
192.168.200.254     0.000009
192.168.200.24      0.000009
13060_114           0.000009
15776_38            0.000009
Name: DST_IP_ADDR, Length: 44023, dtype: float64

In [38]:
df.to_csv('{}/CIDDS-001/traffic/mixed.csv'.format(data_dir))